<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd "
         version="3.0">
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>p.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/time</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>RandomNums</servlet-name>
    <servlet-class>p.RandomNums</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>RandomNums</servlet-name>
        <url-pattern>/randomSum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Google</servlet-name>
        <servlet-class>p.Google</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Google</servlet-name>
        <url-pattern>/gotoGoogle</url-pattern>
    </servlet-mapping>
</web-app>
